<div class="container">


    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <!-- DATE LIVRAISON -->
    <div class="form-group">
        {{ form_label(form.datelivraison, 'Date de livraison') }}
        <div class="date-group">
            {{ form_widget(form.datelivraison) }}
        </div>
        {{ form_errors(form.datelivraison) }}
    </div>

    <!-- ADRESSE -->
    <div class="form-group">
        {{ form_label(form.addresslivraison, 'Adresse de Livraison') }}
        {{ form_widget(form.addresslivraison, {
            'attr': { 'id': 'adresse_livraison' }
        }) }}
        {{ form_errors(form.addresslivraison) }}
    </div>

    <!-- STATUT -->
    <div class="form-group">
        {{ form_label(form.statutlivraison, 'Statut') }}
        {{ form_widget(form.statutlivraison, { 'attr': { 'id': 'statut' } }) }}
        {{ form_errors(form.statutlivraison) }}
    </div>



    <!-- ACTIONS -->
    <div class="form-actions">
        <button type="submit">Enregistrer</button>
        <a href="{{ path('app_livraison_index') }}">Retour à la liste</a>
           <a href="{{ path('home') }}" style="text-decoration: none; background: #C4704B; color: white; padding: 10px 20px; border-radius: 4px;"">
    Aller à l'accueil
</a>
    </div>

    {{ form_end(form) }}
</div>

<style>

body {
    font-family: Arial, sans-serif;
    background-color: #eee;
}

.container {
    width: 500px;
    margin: 40px auto;
    background: #FAF7F2;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #FAF7F2;
    font-size: 0.95rem;
}

/* ===== DATE LIVRAISON : UNE SEULE LIGNE ===== */
.date-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

.date-group select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #FAF7F2;
    font-size: 0.9rem;
    background-color: #FAF7F2;
}

/* Responsive */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    .date-group {
        grid-template-columns: 1fr 1fr;
    }
}

/* ===== BOUTONS ===== */
.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #C4704B;
    border: none;
    color: #fff;
    border-radius: 4px;
    transition: background 0.3s;
}

button:hover {
    background-color:  #C4704B;
}

a {
    text-decoration: none;
    color: #C4704B;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #C4704B;
    transition: background 0.3s, color 0.3s;
}

a:hover {
    background-color: #C4704B;
    color: #fff;
}
</style>
